    <table class="table d-block">
      <thead class="thead-dark">
        <tr>
          <th scope="col">計画日</th>
          <th scope="col">時間</th>
          <th scope="col">計画内容</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% plan_days.each do |day|%>
          <tr>
              <th scope="row">
                <%= day.days.strftime("%F") %>
              </th>
            <% day.plans.each do |plan| %>
              <th scope="row">
                <%= plan.start_time.strftime("%H:%M") %><br>
               <p style="margin-right: 10px;">|</p>
                <%= plan.finish_time.strftime("%H:%M") %>
              </th>
              <td class="h6"><br><%= plan.plan_content %><br></td>
              <td>
                <% if post.user == current_user %>
                  <%= link_to "削除", post_plan_day_path(day.post, day), method: :delete, class:"bbtn btn-outline-danger btn-sm" %>
                  <%= link_to "編集", edit_post_plan_day_path(day.post, day), class:"bbtn btn-outline-success btn-sm" %>
                <% end %>
              </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
