<div class="containar mx-auto w-50">
  <div class="row">
    <div class="col-3 ml-auto">
      <%= link_to new_task_path, class: "btn btn-primary", method: :get do %>
       <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
<div class="category bg-success">貴重品</div>
    <% @tasks1.each do |task| %>
      <div class="index-item mb-20">
        <%= check_box_tag :check %>
        <%= label_tag :check, task.brlongings %>
        <%= link_to "削除", task_path(task), method: :delete, class:"bbtn btn-outline-danger btn-sm" %>
        <%= link_to "編集", edit_task_path(task), class:"bbtn btn-outline-success btn-sm" %>
      </div>
    <% end %>

 <div class="category bg-success">交通</div>
    <% @tasks2.each do |task| %>
      <div class="index-item mb-20">
        <%= check_box_tag :check %>
        <%= label_tag :check, task.brlongings %>
        <%= link_to "削除", task_path(task), method: :delete, class:"bbtn btn-outline-danger btn-sm" %>
        <%= link_to "編集", edit_task_path(task), class:"bbtn btn-outline-success btn-sm" %>
      </div>
    <% end %>
  <div class="category bg-success">電子機器</div>
    <% @tasks3.each do |task| %>
      <div class="index-item mb-20">
        <%= check_box_tag :check %>
        <%= label_tag :check, task.brlongings %>
        <%= link_to "削除", task_path(task), method: :delete, class:"bbtn btn-outline-danger btn-sm" %>
        <%= link_to "編集", edit_task_path(task), class:"bbtn btn-outline-success btn-sm" %>
      </div>
    <% end %>
  <div class="category bg-success">洗面用具</div>
    <% @tasks4.each do |task| %>
      <div class="index-item mb-20">
        <%= check_box_tag :check %>
        <%= label_tag :check, task.brlongings %>
        <%= link_to "削除", task_path(task), method: :delete, class:"bbtn btn-outline-danger btn-sm" %>
        <%= link_to "編集", edit_task_path(task), class:"bbtn btn-outline-success btn-sm" %>
      </div>
    <% end %>
  <div class="category bg-success">衣類</div>
    <% @tasks5.each do |task| %>
      <div class="index-item mb-20">
        <%= check_box_tag :check %>
        <%= label_tag :check, task.brlongings %>
        <%= link_to "削除", task_path(task), method: :delete, class:"bbtn btn-outline-danger btn-sm" %>
        <%= link_to "編集", edit_task_path(task), class:"bbtn btn-outline-success btn-sm" %>
      </div>
    <% end %>
  <div class="category bg-success">その他</div>
    <% @tasks6.each do |task| %>
      <div class="index-item mb-20">
        <%= check_box_tag :check %>
        <%= label_tag :check, task.brlongings %>
        <%= link_to "削除", task_path(task), method: :delete, class:"bbtn btn-outline-danger btn-sm" %>
        <%= link_to "編集", edit_task_path(task), class:"bbtn btn-outline-success btn-sm" %>
      </div>
    <% end %>




