 <% post.post_comments.last(1).each do |post_comment| %>
      <% post_comment_user = post_comment.user %>
      <div class="container">
        <div class="row d-flex align-items-center pb-3">
          <div class="col">
           <%= attachment_image_tag(post.user, :profile_image, :fill, 60, 60, class: "mt-3 rounded-circle", fallback: "noimage.png", size: "60x60") %>
             <%= link_to user_path(post_comment_user), class: "user_#{post_comment_user.id}" do %>
                <%= post_comment.user.name %>
              <% end %>
          </div>
          <div class="col">
            <small class="text-muted"><%= post_comment.created_at.strftime('%Y/%m/%d') %></small>
            <% if current_user == post_comment_user %>
             <%= link_to 'Destroy', post_post_comment_path(post_comment.post_id, post_comment.id), class: 'btn-sm btn-outline-danger', method: :delete, remote:true %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card mw-100 card-body border-info rounded mb-3">
       <div id="string">
         <%= post_comment.comment %>
       </div>
      </div>
  <% end %>
<p>
  <button type="button" class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    コメントをもっと見る
  </button>
</p>
<br>
 <div class="collapse" id="collapseExample">
    <% post.post_comments.offset(1).each do |post_comment| %>
      <% post_comment_user = post_comment.user %>
      <div class="container">
        <div class="row d-flex align-items-center pb-3">
          <div class="col">
           <%= attachment_image_tag(post.user, :profile_image, :fill, 60, 60, class: "mt-3 rounded-circle", fallback: "noimage.png", size: "60x60") %>
             <%= link_to user_path(post.user), class: "user_#{post.user.id}" do %>
                <%= post_comment.user.name %>
              <% end %>
          </div>
          <div class="col">
            <small class="text-muted"><%= post_comment.created_at.strftime('%Y/%m/%d') %></small>
            <% if current_user == post_comment_user %>
             <%= link_to 'Destroy', post_post_comment_path(post_comment.post_id, post_comment.id), class: 'btn-sm btn-outline-danger', method: :delete, remote:true %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card mw-100 card-body border-info rounded mb-3">
       <div id="string">
         <%= post_comment.comment %>
       </div>
      </div>
  <% end %>
</div>
