<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <% @posts.each do |posts| %>
      <% if posts.user == current_user %>
        <div class="dropdown dropright ml-auto">
          <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button"><%= link_to "削除", post_path(posts), method: :delete %></button>
            <button class="dropdown-item" type="button"><%= link_to "編集", edit_post_path(posts) %></button>
          </div>
        </div>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= attachment_image_tag posts.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "noimage.png" %>
          </div>
          <div class="col-10">
           <%= attachment_image_tag(posts,:image, size: "300x300", fallback: "no_imag.jpg") %>
           <p class="text-dark">
             <i class="fas fa-plane"></i>
             <strong><%= posts.destination %></strong>
           </p>
            <p>
              <i class="fas fa-luggage-cart"></i>
              <%= posts.nights %>泊<%= posts.days %>日
            </p>
            <p>
              <i class="fas fa-hand-holding-usd"></i>
              <%= posts.budget %>
            </p>
            <p>
              <%= posts.content %>
            </p>
            <span>
              <div id="favorite-btn_<%= posts.id %>">
                <%= render "favorite/favorite-btn", posts: posts %>
              </div>
              <%= link_to "計画表はこちら", tasks_path %>
              <div id="comment_<%= posts.id %>">
                <%= render "post_comments/comment", posts: posts %>
              </div>
              <%= link_to "#{posts.post_comments.count} コメント", post_path(posts.id) %>
            </span>
           </div>
         </div>
      </div>
    <% end %>
  </div>
</div>
