<!---------投稿内容表示-------------->
<div class="container">
   <div class="row">
     <div class="col-md-5">
           <%= attachment_image_tag(@post.user, :profile_image, :fill, 60, 60, class: "mt-3 rounded-circle", fallback: "noimage.png", size: "60x60") %>
       <span><%= @post.user.name %></span>
       <div>
         <%= attachment_image_tag @post, :image, :fill, 300,300, class:"image-top" %>
       </div>
     </div>

     <div class="col-md-5 border rounded">
       <div class="h5 mt-5"><i class="fas fa-plane"></i>：
           <strong><%= @post.destination %></strong>
       </div>
       <div class="h5 mt-5">
         <i class="fas fa-luggage-cart"></i>：
           <%= @post.nights %>泊<%= @post.days %>日
       </div>
       <div class="h5 mt-5">
         <i class="fas fa-hand-holding-usd"></i>：
               <%= @post.budget %>円
       </div>
       <div class="h5 mt-5">
         <i class="fas fa-comment-alt"></i>：
         <%= @post.content %>
       </div>
     </div>
   </div>
  </div>
   <!---------計画内容表示-------------->
  <div class="container">  
   <div class="row">
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-md-6 d-block mt-5">
        <h2><i class="fas fa-map-marker-alt"></i>google mapで観光地の検索</h2>


        <!-- 地名入力用のinputを追加 -->
        <input id="address" type="textbox" value="沖縄, OKA">

        <!-- buttonをクリックしたらcodeAddressを実行-->
        <input type="button" value="Encode" onclick="codeAddress()">
        <div id="map"></div>

        <style>
          #map{
            width: 400px;
            height: 400px;
          }
        </style>

        <script>
          /*mapを関数の外で定義(codeAddressでも使うため)geocoderを用意*/
          let map
          let geocoder

          function initMap(){
            // geocoderを初期化
            geocoder = new google.maps.Geocoder()

            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 26.30230759545399, lng: 127.65309297478275},
              zoom: 8
            });
          }

          function codeAddress(){
            // 入力を取得
            let inputAddress = document.getElementById('address').value;

            // geocodingしたあとmapを移動
            geocoder.geocode( { 'address': inputAddress}, function(results, status) {
              if (status == 'OK') {// map.setCenterで地図が移動
                map.setCenter(results[0].geometry.location);// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
                var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
                });
              } else {
                  alert('Geocode was not successful for the following reason: ' + status);
                }
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
      </div>
      <div class="col-md-6 d-block mt-5">
        <%= render "plan_days/index", plan_days: @plan_days, post: @post %>

        <div class="row d-block">
          <div id="comment_<%= @post.id %>">
            <%= render "post_comments/comment", post: @post %>
          </div>
          <span id="form">
           <%= form_with model:[@post, @post_comment], remtote: true do |f| %>
             <%= f.text_area :comment, :size => "60x1", class: "form-control", placeholder: "コメントをここに" %>
             <%= f.submit "送信する", class: "d-flex btn btn-outline-secondary", id: "submit" %>
           <% end %>
          </span><br>
          <span id="favorite-btn_<%= @post.id %>">
            <%= render "favorites/favorite-btn", post: @post %>
          </span>
          <span id="comment-count_<%= @post.id %>">
            コメント数:<%= @post.post_comments.count %>
          </span>
        </div>
      </div>
    </div>


