<header class="shadow-sm rounded mb-3">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <% if user_signed_in? %>
         <a class="navbar-brand" href="/">
           <span>
             <%= image_tag "logo.png", size:"200x80" %>
           </span></a>
        <% else admin_signed_in? %>
         <a class="navbar-brand" href="/">
           <span>
             <%= image_tag "logo.png", size:"200x80" %>
           </span></a>
        <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">
             <% if user_signed_in? %>
               <li class="nav-item">
                 <%= link_to posts_path, class: 'nav-link text-dark btn btn-outline-secondary btn-lg mr-3' do %>
                   <i class="fas fa-home"></i>
                 <% end %>
               </li>
               <li class="nav-item">
                 <%= link_to users_path, class: 'nav-link text-dark btn btn-outline-secondary btn-lg mr-3' do %>
                  <i class="fas fa-user-plus"></i>
                 <% end %>
               </li>
               <li class="nav-item">
                 <%= link_to user_path(current_user.id), class: 'nav-link text-dark btn btn-outline-secondary btn-lg mr-3' do %>
                   <i class="fas fa-user-cog"></i>
                 <% end %>
               </li>
               <li class="nav-item">
                 <%= link_to new_post_path, class: 'nav-link text-dark btn btn-outline-secondary btn-lg mr-3' do %>
                   <i class="fas fa-marker"></i>
                 <% end %>
               </li>
               <li class="nav-item">
                 <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-secondary btn-lg mr-3' do %>
                   <i class="fas fa-sign-out-alt"></i>
                 <% end %>
               </li>
               <li>
                 <button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                   検索機能
                 </button>
                 <div class="collapse" id="collapseExample">
                   <div class="border p-3">
                    <%= form_with url: search_path, method: :get, local: true do |f| %>
                        <%= f.text_field :content %>
                        <%= f.select :model, options_for_select({ "User" => "user", "Post" => "post" }) %>
                        <%= f.select :method, options_for_select({ "部分一致" => "partial", "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward" }) %>
                        <%= f.submit '検索' %>
                      <% end %>
                   </div>
                 </div>
                </li>
             <% elsif admin_signed_in? %>
                <li class="nav-item">
                 <%= link_to admin_users_path, class: 'nav-link text-dark btn btn-outline-secondary btn-lg' do %>
                   <i class="fas fa-users"></i>
                 <% end %>
                </li>
                <li class="nav-item">
                 <%= link_to admin_posts_path, class: 'nav-link text-dark btn btn-outline-secondary btn-lg mr-3' do %>
                   <i class="fas fa-home"></i>
                 <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-secondary btn-lg' do %>
                   <i class="fas fa-sign-out-alt"></i>
                 <% end %>
                </li>
             <% else %>
               <li class="nav ml-auto">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark btn btn-outline-secondary btn-lg' %>
               </li>
               <li class="nav ml-auto">
                 <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark btn btn-outline-secondary btn-lg' %>
               </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
</header>